<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="ID=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title><%- locals.title %> <%- page ? `| ${page}` : null%>
    </title>
</head>