<div class="row">
    <div class="twelve columns nav">
        <div class="paste-meta">
            <input id="pastetitle" placeholder="Untitled Paste"></input>
            <input id="pastedesc" placeholder="No Description"></input>
        </div>
        <span class="iconify" data-width="2em" data-height="2em" data-icon="clarity:floppy-line"></span>
        <span class="iconify disabled" data-width="2em" data-height="2em" data-icon="clarity:unlock-line"></span>
        <span class="iconify account disabled" data-width="2em" data-height="2em" data-icon="clarity:user-line"></span>
    </div>
</div>