<div class="row">
    <div class="twelve columns nav">
        <span class="iconify" data-width="2em" data-height="3em" data-icon="akar-icons:send"></span>
        <span class="iconify" data-width="2em" data-height="3em" data-icon="akar-icons:lock-off"></span>
        <span class="iconify account" data-width="2em" data-height="3em" data-icon="akar-icons:person"></span>
    </div>
</div>